.payup-toggle-cart-button {
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 1000;
  color: white;
  span {
    padding-right: 10px;
    font-size: 16px;
  }
  .active & {
    position: fixed;
    span {
      display: none;
    }
    i {
      color: black;
    }
  }
}

.payup-drawer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 240px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  box-sizing: border-box;
  border-right: 1px solid #e0e0e0;
  background: #fafafa;
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  will-change: transform;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-property: transform;
  transition-property: transform,-webkit-transform;
  color: #424242;
  overflow: visible;
  overflow-y: auto;
  z-index: 5;
  .active & {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  .title {
    line-height: 64px;
    padding-left: 40px;
  }
  .empty-cart-message {
    text-align: center;
  }
  nav {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    -ms-grid-row-align: stretch;
    align-items: stretch;
    padding-top: 16px;
  }
  nav .cart-item,
  nav .cart-total {
    display: block;
    flex-shrink: 0;
    padding: 16px;
    margin: 0;
    color: #757575;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cart-total {
    font-weight: bold;
  }
  button {
    min-width: 32px;
    padding: 0;
  }
}


