.payup-checkout-wrapper {
  table {
    width: 100%;
  }
  .cart-total {
    font-weight:bold;
    .value {
      text-transform: uppercase;
    }
  }
}

.payup-checkout-wrapper input[type='submit'] {
  color: white;
}

.payup-items {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.payup-items .payup-total {
  font-weight: bold;
}

.payup-items li {
  display: flex;
  justify-content: space-between;
}

#payment-form {
  display:flex;
  flex-direction: column;
  width: 300px;
}

#payment-form .payup-form-row {
  display:flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#payment-form .form-row label {
  flex-basis: 50%;
}
