#payup-checkout-modal {
  display: none;
  position: absolute;
  background: white;
  top: 5%;
  left: calc(50% - 160px);
  z-index: 100;
  width: 320px;
  padding:24px;
  h3 {
    margin-top: 0;
  }
}

.payup-checkout-wrapper {
  position: relative;
  overflow: hidden;
  table {
    width: 100%;
  }
  .cart-total {
    font-weight: bold;
    .value {
      text-transform: uppercase;
    }
  }
  .cart-tab {
    width:100%;
    display: inline-block;
  }
  .cart-summary {
    position:relative;
  }
  .payup-payment {
    right: -100%;
    position:relative;
  }
  #payment-form {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    h4 {
      font-size: 18px;
      line-height: 18px;
      font-weight: 100;
    }
    .payup-checkout-zip, .payup-checkout-expiration, .payup-checkout-cvc {
      width: 100px;
    }
    .payup-checkout-city {
      width: 200px;
    }
  }

  .payup-checkout-actions {
    width: 100%;
  }
}



