.payup-header {
  color: white;
}
.payup-header h1 {
  text-shadow: 1px 1px 1px #333;
  text-align: center;
  margin: 0;
}
.payup-toggle-cart-button i {
  color: white;
}
.payup-header .mdl-layout__drawer-button {
  color: white;
}
.payup-header header {
  display: block !important;
  height: 300px;
}
