.product-list {
  padding:20px;
  .products {
    display: flex;
    flex-wrap: wrap;
  }
  .product {
    width: calc(50% - 20px);
    height: 320px;
    margin-right: 20px;
    margin-bottom: 20px;
    @include mobile {
      width: 100%;
      margin-right: 0;
    }
  }
  .product:nth-child(2n) {
    margin-right: 0;
  }
  .product h2 {
    color: white;
    width: 100%;
    text-shadow: 1px 1px 1px #333;
    display: flex;
    justify-content: space-between;
  }
  .currency {
    font-variant: small-caps;
    font-size: 16px;
  }
}
