<div class="payup-cart">
    <input id="cart-reload-url" type="hidden" th:value="${componentUrl}" />
    <div class="payup-toggle-cart-wrapper">
        <button id="payup-toggle-cart" class="payup-toggle-cart-button mdl-button mdl-js-button">
            <span id="cart-count" th:text="${#numbers.formatInteger(itemCount, 1)}">2</span>
            <i class="material-icons">shopping_cart</i>
        </button>
    </div>
    <div class="payup-drawer">
        <div class="cart-content">
            <span class="mdl-layout-title title">Shopping cart</span>
            <div th:if="${#lists.isEmpty(items)}">
                Empty cart
            </div>
            <nav class="mdl-navigation" th:if="${cart != null}">
                <div th:each="item : ${items}" class="cart-item" href="">
                    <span th:text="${item.quantity}">QTY</span>
                    <span th:text="${item.product.displayName}">Product</span>
                    <span th:text="${#numbers.formatDecimal(item.price, 1, 2, 'COMMA')}">Price</span>
                    <button th:attr="data-payup-cart-remove=${item.removeFromCart}" class="payup-cart-remove mdl-button mdl-js-button">
                        <i class="material-icons">remove_shopping_cart</i>
                    </button>
                </div>
                <div class="cart-total">
                    <span class="text">Total</span>
                    <span class="value" th:text="${#numbers.formatDecimal(totalPrice, 1, 2, 'COMMA')}">1234</span>
                    <button id="payup-checkout-button" th:attr="data-payup-checkout-url=${checkoutUrl}" class="mdl-button">
                        <i class="material-icons">payment</i>
                    </button>
                </div>
            </nav>
        </div>
    </div>
    <div id="payup-checkout-modal" class="mdl-dialog">

    </div>
</div>
