<script th:inline="javascript">
    /*<![CDATA[*/
    var completeCheckoutUrl = /*[[${completeCheckoutUrl}]]*/ 'value';
    var publishableKey = /*[[${publishableKey}]]*/ 'value';
    /*]]>*/

    function stripeResponseHandler(status, response) {
        if (status != 200) {
            console.error(response);
            document.getElementById('payment-result').innerHTML = response.error.message;
        } else {
            var paymentForm = document.getElementById('payment-form');
            var formData = $(paymentForm).serializeArray();
            formData.push({name: "token", value: response.id});
            $.ajax({
                type: "POST",
                url: completeCheckoutUrl,
                data: $.param(formData),
                success: function(data) {
                    $('.payup-payment').hide();
                    $('#payment-result').html(data);
                },
                error: function(data) {
                    console.error(data);
                    $('#payment-result').html("An error occured. Please try again");
                },
                complete: function(data) {
                    refreshCart();
                }
            });
        }
    }

    Stripe.setPublishableKey(publishableKey);
    var paymentForm = document.getElementById('payment-form');
    paymentForm.addEventListener('submit', function (event) {
        event.preventDefault();
        Stripe.card.createToken(paymentForm, stripeResponseHandler);
        document.getElementById('payment-result').innerHTML = 'Paying up! Hold on...'
    });
</script>
<div class="payup-checkout-wrapper">
    <h3>Checkout</h3>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
        <tr>
            <th>Quantity</th>
            <th>Item</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}" class="cart-item" href="">
            <td th:text="${item.quantity}">QTY</td>
            <td th:text="${item.product.displayName}">Product</td>
            <td th:text="${#numbers.formatDecimal(item.price, 1, 2, 'COMMA')}">Price</td>
        </tr>
        <tr class="cart-total">
            <td class="text">Total</td>
            <td></td>
            <td class="value" th:text="${currency} + ' ' + ${#numbers.formatDecimal(totalPrice, 1, 2, 'COMMA')}">1234</td>
        </tr>
        </tbody>
    </table>

    <div class="payup-payment">
        <form action="" method="POST" id="payment-form">
            <h4>Shipment details</h4>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="shipping-name" name="name" th:value="${shippingDetails.name}"/>
                <label class="mdl-textfield__label" for="shipping-name">Name</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="shipping-address" name="address" th:value="${shippingDetails.address}"/>
                <label class="mdl-textfield__label" for="shipping-address">Address</label>
            </div>
            <div class="payup-checkout-zip mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="shipping-zip" name="zip" th:value="${shippingDetails.zip}"/>
                <label class="mdl-textfield__label" for="shipping-zip">Zip code</label>
            </div>
            <div class="payup-checkout-city mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="shipping-city" name="city" th:value="${shippingDetails.city}"/>
                <label class="mdl-textfield__label" for="shipping-city">City</label>
            </div>

            <h4>Payment details</h4>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="card-name" data-stripe="name"/>
                <label class="mdl-textfield__label" for="card-name" th:text="${i18n.cardholdername}">Cart Holder Name</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="card-number" data-stripe="number"/>
                <label class="mdl-textfield__label" for="card-number" th:text="${i18n.cardnumber}">Cart Number</label>
            </div>
            <div class="payup-checkout-expiration mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="card-exp_month" data-stripe="exp_month"/>
                <label class="mdl-textfield__label" for="card-exp_month">Expiration month</label>
            </div>
            <div class="payup-checkout-expiration mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="card-exp_year" data-stripe="exp_year"/>
                <label class="mdl-textfield__label" for="card-exp_year">Expiration Year</label>
            </div>
            <div class="payup-checkout-cvc mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="card-cvc" data-stripe="cvc"/>
                <label class="mdl-textfield__label" for="card-cvc">CVC</label>
            </div>

            <div class="payup-checkout-actions mdl-dialog__actions">
                <input class="mdl-button submit mdl-js-button mdl-button--raised mdl-button--colored" type="submit" value="Purchase"/>
                <button class="mdl-button payup-checkout-close">Cancel</button>
            </div>
        </form>
    </div>
    <div id="payment-result">
        <!-- dont selfclose -->
    </div>
</div>
