<script th:inline="javascript">
    /*<![CDATA[*/
    var completeCheckoutUrl = /*[[${completeCheckoutUrl}]]*/ 'value';
    var publishableKey = /*[[${publishableKey}]]*/ 'value';
    /*]]>*/


    function stripeResponseHandler(status, response) {
        var formData = new FormData();
        formData.append('token', response.id);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', completeCheckoutUrl, true);
        xhr.send(formData);
        xhr.onreadystatechange = function(e) {
            var DONE = 4;
            if (xhr.readyState === DONE) {
                if (xhr.status === 200) {
                    document.querySelector('.payup-payment').style = "display:none;";
                    document.getElementById('payment-result').innerHTML = e.target.response;
                }
                if (xhr.status === 500) {
                    document.getElementById('payment-result').innerHTML = "Backend server error";
                }
            }
        };
    }

    Stripe.setPublishableKey(publishableKey);
    var cardDetailsForm = document.getElementById('payment-form');
    cardDetailsForm.addEventListener('submit', function(event) {
        console.log("submitting");
        Stripe.card.createToken(cardDetailsForm, stripeResponseHandler);
        document.getElementById('payment-result').innerHTML = 'Paying up! Hold on...'
        event.preventDefault();
    });
</script>
<div class="payup-checkout-wrapper">
    <h3>Checkout</h3>
    <div th:each="item : ${items}" class="cart-item" href="">
        <span th:text="${item.quantity}">QTY</span>
        <span th:text="${item.product.displayName}">Product</span>
        <span th:text="${#numbers.formatDecimal(item.price, 1, 2, 'COMMA')}">Price</span>
    </div>
    <div class="cart-total">
        <span class="text">Total</span>
        <span class="value" th:text="${#numbers.formatDecimal(totalPrice, 1, 2, 'COMMA')}">1234</span>
    </div>
    <div class="payup-payment">
        <h4>Payment details</h4>
        <form action="" method="POST" id="payment-form">
            <div class="payup-form-row">
                <label>
                    <span th:text="${i18n.cardholdername}">Card Holder name</span>
                </label>
                <input type="text" data-stripe="name" value="Lasse JL" />
            </div>
            <div class="payup-form-row">
                <label>
                    <span th:text="${i18n.cardnumber}">Card Number</span>
                </label>
                <input type="text" size="20" data-stripe="number" value="4242424242424242" />
            </div>

            <div class="payup-form-row">
                <label>
                    <span th:text="${i18n.expiration}">Expiration (MM/YY)</span>
                </label>
                <span>
                  <input type="text" size="2" data-stripe="exp_month" value="10" />
                  <span> / </span>
                <input type="text" size="2" data-stripe="exp_year" value="20" />
                </span>
            </div>

            <div class="payup-form-row">
                <label>
                    <span>CVC</span>
                </label>
                <input type="text" size="4" data-stripe="cvc" value="123" />
            </div>
            <pre th:text="${order}">

</pre>
            <div class="mdl-dialog__actions">
                <button class="mdl-button">Cancel</button>
                <input class="mdl-button submit mdl-js-button mdl-button--raised mdl-button--colored" type="submit" value="PayUp!" />
            </div>
        </form>
    </div>
    <span id="payment-result"></span>
</div>
