<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var componentUrl = /*[[${componentUrl}]]*/ 'value';
    var publishableKey = /*[[${publishableKey}]]*/ 'value';
    /*]]>*/
</script>
<div class="payup-wrapper">
    <h3>Purchase</h3>
    <ul class="payup-items">
        <li th:each="item  : ${purchaseItems}">
            <span class="payup-item-name" th:text="${item.displayName}">Ost</span>
            <span class="payup-item-price" th:text="${item.data.price}">50</span>
        </li>
        <li class="payup-total">
            <span class="payup-total-text" th:text="${i18n.priceTotal}">Total</span>
            <span class="payup-total-price" th:text="${priceTotal}">20</span>
        </li>
    </ul>
    <div class="payup-payment">
        <h4>PayUp!</h4>
        <form action="" method="POST" id="payment-form">
            <div class="payup-form-row">
                <label>
                    <span th:text="${i18n.cardholdername}">Card Holder name</span>
                </label>
                <input type="text" data-stripe="name" value="Lasse JL" />
            </div>
            <div class="payup-form-row">
                <label>
                    <span th:text="${i18n.cardnumber}">Card Number</span>
                </label>
                <input type="text" size="20" data-stripe="number" value="4242424242424242" />
            </div>

            <div class="payup-form-row">
                <label>
                    <span th:text="${i18n.expiration}">Expiration (MM/YY)</span>
                </label>
                <span>
                  <input type="text" size="2" data-stripe="exp_month" value="10" />
                  <span> / </span>
                <input type="text" size="2" data-stripe="exp_year" value="20" />
                </span>
            </div>

            <div class="payup-form-row">
                <label>
                    <span>CVC</span>
                </label>
                <input type="text" size="4" data-stripe="cvc" value="123" />
            </div>

            <input type="submit" class="submit" value="Submit Payment" />
        </form>
    </div>
    <span id="payment-result"></span>
</div>
